body {
  background-color: #fafafa;

}
  /*--navbar--*/
.navbar {
  height: auto;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px;
}

.navbar-logo {
  margin-top: 0;
  height: 50px;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar ul a {
  font-family: 'Nanum Pen Script', cursive;
  text-decoration: none;
  font-size: 25px;
  color: #678b99;
  background-color: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
  background-color: #fbfbfb;
  cursor: pointer;
}


/*--banner--*/
.banner {
  height: auto;
  background-image: url(../images/JumbotronImage1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  position:relative;
}

.banner-content {
  margin-top: 175px;
}

.banner-header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
  text-shadow: 2px 2px #111;
  color: #fafafa;
}

.banner-slogan {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  text-shadow: 2px 2px #111;
  color: #fafafa;
}

.banner-btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 175px;
  color: #111;
  background-color: #fafafa;
  box-shadow: 5px 10px 30px #111;
}

.banner-btn:hover {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
  margin-bottom: 175px;
  color: #111;
  background-color: #fafafa;
  border: 1px solid #111;
  box-shadow: 5px 10px 15px #111;
}

/*--pitcher--*/
.pitcher-content {
  height: auto;
}

.pitcher-text {
  font-family: 'Nunito Semibold', sans-serif;
  font-size: 15px;
  color: #111;
}

.pitcher-header {
  font-weight: 500;
  font-size: 40px;
  color: #111;
}

.pitcher-uni {
  background-color: #678b99;
  width: 100%;
  margin-left: 29px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.pitcher-meds {
  background-color: #a3c686;
  width: 100%;
  margin-left: 29px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.pitcher-acc {
  background-color: #ffd96b;
  width: 100%;
  margin-left: 29px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.pitcher-img {
  width: 150px;
  height: 150px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.uni-header-cont {
  box-shadow: 0 -5px 5px -5px #333;
  border-left: 2px solid #678b99;
  border-right: 2px solid #678b99;
  border-bottom: 2px solid #678b99;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.uni-header-cont:hover {
  background-color: #678b99;
  box-shadow: 0 -5px 5px -5px #333;;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.meds-header-cont {
  box-shadow: 0 -5px 5px -5px #333;
  border-left: 2px solid #a3c686;
  border-right: 2px solid #a3c686;
  border-bottom: 2px solid #a3c686;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.meds-header-cont:hover {
  background-color: #a3c686;
  box-shadow: 0 -5px 5px -5px #333;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.acc-header-cont {
  box-shadow: 0 -5px 5px -5px #333;
  border-left: 2px solid #ffd96b;
  border-right: 2px solid #ffd96b;
  border-bottom: 2px solid #ffd96b;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.acc-header-cont:hover {
  background-color: #ffd96b;
  box-shadow: 0 -5px 5px -5px #333;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

/*--products--*/
.product-content {
  height: 725px;
}

.product-slider {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.product-display {
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.carousel .slide img {
  margin-top: 50px;
  margin-bottom: -50px;
  max-height: 800px;
  max-width: 400px;
}

.product-catalog {
  margin-top: 20px;
  box-shadow: 5px 5px 5px #aaaaaa;
  border: 1px dashed #000;
  padding-bottom: 20px;
}

.product-img {
  width: auto;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.product-desc {
  color: #111;
  font-family: 'Nunito', sans-serif;
}

.product-price{
  color: #111;
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
}

.product-btn {
  background-color: #678b99;
  color: #fafafa;
  border: 0;
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
  border-radius: 5px;
  box-shadow: 0px 1px 10px #111;
  float: right;
  margin-right: 10px;

}

.product-btn:hover {
  background-color: #678b99;
  color: #fafafa;
  border: 0;
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
  border-radius: 5px;
  box-shadow: 0px 3px 3px #111;

}


/*--shop--*/
.shop-background {
  background-image: url(../images/JumbotronImage2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.shop-content {
  color: white;
  position: relative;
}

.shop-upper {
  margin-left: 100px;
}

.shop-header {
  font-weight: 700;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 50px;
  text-shadow: 2px 2px 2px #111;
}

.shop-text {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px #111;
}

.shop-time {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px 1px #111;
}


.shop-address {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #111;
}

.shop-btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 15px;
  color: #111;
  background-color: #fafafa;
  box-shadow: 5px 10px 30px #111;
}

.shop-btn:hover {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 15px;
  color: #111;
  background-color: #fafafa;
  border: 1px solid #111;
  box-shadow: 5px 10px 15px #111;
}

.row-maps {
  padding-bottom: 20px;
}

.shop-map {
  margin: 0 auto;
  width: 70%;
}

/*--contactus--*/

.contact-content {
  height: auto;
}

.form-btn {
  padding: 0;
}

.form-captcha {
  padding: 0;
}

.contact-btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 25px;
  border-radius: 5px;
  border: 0;
  background-color: #fafafa;
  float: right;
  box-shadow: 1px 5px 10px #111;
  -webkit-box-shadow: 1px 5px 10px #111;
}

.contact-btn:hover {
  border-radius: 5px;
  border: 0;
  background-color: #fafafa;
  cursor: pointer;
  box-shadow: 1px 5px 30px #111;
  -webkit-box-shadow: 1px 5px 30px #111;
}

.form-error {
  margin-top: 5px;
  font-size: 15px;
  font-family: 'Nunito', serif;
  color: red;
}
/*--form-design--*/

.form-control {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 5px 10px #111;
  -webkit-box-shadow: 1px 5px 10px #111;
}

.form-control:focus {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 5px 30px #111;
  -webkit-box-shadow: 1px 5px 30px #111;
}

input[type=text] {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 7px;
}

input[type=text]:focus::-webkit-input-placeholder { color:transparent; }

input[type=text]:focus:-moz-placeholder { color:transparent; }

input[type=text]:focus::-moz-placeholder { color:transparent; }

input[type=text]:focus:-ms-input-placeholder { color:transparent; }

textarea[type=text]{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 7px;
}

textarea[type=text]:focus::-webkit-input-placeholder { color:transparent; }

textarea[type=text]:focus:-moz-placeholder { color:transparent; }

textarea[type=text]:focus::-moz-placeholder { color:transparent; }

textarea[type=text]:focus:-ms-input-placeholder { color:transparent; }

input[type=text]::placeholder {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #111;
}

input[type=text]:-ms-input-placeholder {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  color: #111;
}

input[type=text]::-ms-input-placeholder {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  color: #111;
}

textarea[type=text]::placeholder {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
    color: #111;
}

textarea[type=text]:-ms-input-placeholder {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  color: #111;
}

textarea[type=text]::-ms-input-placeholder {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  color: #111;
}

/*--footer--*/
.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #444;
  display: block;
}

.footer-content {
  color: #fafafa;
}


.footer-content h2 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
}

.footer-content h4 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}

.footer-content h5 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}
.footer-logo {
  height: auto;
  width: 150px;
}

.footer-division {
  padding-top: 20px;
  padding-left: 50px;

}

.footer-copy {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
}
/*--other--*/

.division-header {
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  font-size: 72px;
  font-weight: 500;
  color: #fafafa;
  text-shadow:
   -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
     1px 1px 0 #111;
  margin-bottom: 0;
}

.hr-header {
  background-color: #fafafa;
  height: 2px;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border: inset;
  border-width: 1px;
}

.sub-header {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.icons {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}

.icons-text {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.white {
  color: #fafafa;
}

.blue {
  color: #678b99;
}

.green {
  color: #a3c686;
}

.yellow {
  color: #ffd96b;
}
